body {
    background-color: #E8D9C7;
    padding: 70px 0px 8px 0px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #402F1F;
    opacity: 90%; 
}

.dropdown-menu {
    background-color: #402F1F;
}

.dropdown-item {
    color: #FFFFFF8C;
}

.carousel-item {
    height: 670px;
}

#um, #dois, #tres {
    font-size: 50px;
}

#SEUPEDIDO {
    color: white;
    background-color: #FFFFFF8C;
}
#adicionarprincipal:hover {
    background-color:greenyellow;
}